* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f5f5f5;
  padding-top: 46px;
}

.main-header {
  background-color: #0050b3;
  padding-top: 8px;
  padding-bottom: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.main-header .container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.m-menu {
  border: none;
  width: 32px;
  height: 32px;
  background-color: transparent; 
  padding: 0;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
   
}
button:focus {
    outline: none;
}
.m-menu .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.search-input {
  font-size: 14px;
  line-height: 22px;
  width: 336px;
  background: #ffffff;
  /* grey / grey-5 */
  padding: 5px 30px 5px 12px;

  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: right 12px center;
}
.navigation {
  display: flex;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
}
.user-avatar {
  margin-right: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.navigation .user-name {
  color: #ffffff;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}
.navigation-panel {
  display: flex;
  align-items: center;
}
.navigation-link {
  display: flex;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  margin-left: 12px;
}

.navigation-link:before {
  content: "";
  background-color: #003a8c;
  width: 1px;
  height: 16px;
  margin-right: 12px;
}
.navigation-link:last-child:after {
  content: "";
  background-color: #003a8c;
  width: 1px;
  height: 16px;
  margin-left: 12px;
}
.icons-panel {
display: flex;
  align-items: center;
}
.icon-link {
  margin-left: 17px;
  display: flex;
  align-items: center;
  position: relative;
}
.notification {
  position: absolute;
  background-color: #f5222d;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 16px;
  color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  top: -8px;
  left: 10px;
}

.header-icon {
  fill: #002766;
}
.header-icon:hover {
  fill: #fff;
}
.icon-link:last-child:after {
  content: "";
  background-color: #003a8c;
  width: 1px;
  height: 16px;
  margin-right: 12px;
}

.main-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
}

.menu-sidebar {
  max-width: 192px;
  margin-top: 18px;
  margin-right: 12px;
}

.avatar-sidebar {
  width: 24px;
  height: 24px;
}
.menu-sidebar .user-name {
  color: #262626;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
}
.menu-sidebar .user {
  padding: 4px 8px;
}
.nav-text {
  margin-left: 8px;
}
.last-text {
  color: #1890ff;
}
.nav-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 24px;
}
.nav-link {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  text-decoration: none;
  color: #595959;
  font-size: 14px;
  font-weight: normal;
  line-height: 22px;
}
.nav-link.active {
  background-color: #fff;
  color: #262626;
  font-weight: 600px;
}
.nav-title {
  color: #262626;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600px;
  padding-left: 10px;
  margin-bottom: 4px;
  margin-top: 0;
}

.main-feed {
  margin-top: 18px;
  max-width: 588px;
  flex-grow: 1;
}
.create-post {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
}
.create-post-header {
  background-color: #f5f5f5;
  padding: 9px 16px;
}

.create-post-title {
  margin: 0;
  color: #595959;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
.create-post-body {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
}
.create-post-input {
  margin-left: 8px;
  margin-right: 26px;
  padding: 8px;
  width: 90%;
}
.create-post-footer {
  display: flex;
  align-items: center;
  padding: 0px 16px 16px 16px;
}
.tag {
  background-color: #f5f5f5;
  border-radius: 48px;
  border: none;
  padding: 9px 12px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.button-text {
  margin-left: 8px;
}
hr {
  margin-left: 16px;
  margin-right: 16px;
  border: 1px solid #e8e8e8;
}
.post {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px;
}
.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.post-header-button {
  background-color: #fff;
  border: none;
}
.post-header .user-avatar {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}
.post-info {
  display: flex;
  flex-wrap: wrap;
}
.post-autor {
  width: 100%;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  color: #0050b3;
  text-decoration: none;
}
.post-time {
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}
.post-info-time {
  display: flex;
  align-items: center;
}
.post-time:after {
  display: inline-block;
  border-radius: 50%;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #bfbfbf;
  margin-right: 6px;
  margin-left: 6px;
  vertical-align: middle;
}
.post-text {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-bottom: 16px;
}
.post-text a {
  color: #096dd9;
  text-decoration: none;
}
.post-image {
  border: 1px solid #bfbfbf;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
}
.likes {
  margin-top: 9px;
  margin-bottom: 9px;
  display: flex;
  align-items: center;
}
.likes-counter {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-left: 4px;
}
.post-footer {
  display: flex;
  justify-content: space-around;
}
.post-button {
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
}
.post-button-text {
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-left: 8px;
}
.right-sidebar {
  width: 384px;
  margin-left: 24px;
}
.stories {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px;
  padding-left: 24px;
  margin-top: 16px;
}
.stories-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.story-title {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.story-buttons {
  display: flex;
  align-items: center;
}
.story-button-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  text-decoration: none;
}
.story-button-link:first-child:after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #bfbfbf;
  border-radius: 50%;
  margin: 0 8px;
}
.time-icon {
  margin-right: 4px;
}
.story-item-add,
.story-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 16px;
}
.story-image {
  background: #f5f5f5;
  width: 48px;
  height: 48px;
  border: 1px solid #d9d9d9;
  flex-shrink: 0;
  border-radius: 50%;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1890ff;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-right: 12px;
}
.story-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  width: 100%;
  display: block;
}
.story-text {
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  width: 100%;
  word-wrap: break-word;
}
.c-icon {
  border: 3px solid #1890ff;
  background-image: url("../img/c-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px;
}
.figma {
  border: 3px solid #1890ff;
  background-image: url("../img/figma-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;
}

.ant-icon {
  border: 3px solid #1890ff;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 78px;
  background-position: 5px 5px;
}
.story-item-link {
  color: #0050B3;
  margin-left: 12px;
  font-style: 14px;
}
.birthday-block { 
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px;
  padding-left: 24px;
  margin-top: 16px;
}
.birthday-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
}
.birthday-name {
  margin-left: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
}
.fanpage { 
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  
  margin-top: 16px;
  padding-top: 9px;
}
.fanpage-header {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 22px;
  color: #595959;
  margin-bottom: 9px;
  justify-content: space-between;
  margin-right: 16px;
  margin-left: 16px;
}
.fanpage .fanpage-hr {
  margin: 0;
  padding: 0;
  border: 1px solid #D9D9D9;
  margin-bottom: 16px;
}
.fanpage-c {
  border: 1px solid #BFBFBF;
}
.fanpage-stats {
  padding-left: 16px;
  padding-right: 16px;
  
}
.fanpage-messages-text {
  font-size: 14px;
  line-height: 22px;
  color: #8C8C8C;
}
.notification-counts{
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #595959;
  background: #F5F5F5;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 1px 5px;
}
.fanpage-buttons{
  display: flex;
  align-items: center;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 16px;
   }
   .fanpage-button {
      background-color: #FFFFFF;
      border: 1px solid #D9D9D9;
      box-sizing: border-box;
      padding: 8px 0px;
      border-right: none;
      width: 118px;
   }
   .fanpage-button:last-child {
      background-color: #FFFFFF;
      border: 1px solid #D9D9D9;
      box-sizing: border-box;
      padding: 8px 0px;
      width: 118px;
   }

.fanpage-button-text {
  font-size: 16px;
line-height: 24px;
}
.fanpage-button:hover{
  border: 1px solid #1890FF;
  color: #1890FF;
}
.fanpage-likes {
  text-align: center;
}
.likes-counts {
  margin: 0;
  padding: 0;
  color: #262626;
  font-size: 24px;
line-height: 32px;
}
.likes-counts-week {
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  font-size: 14px;
line-height: 22px;
text-align: center;
color: #8C8C8C;
}
@media (max-width: 1250px) {
  .main-container {
    justify-content: flex-start;
    width: 95%;
  }
  .right-sidebar {
    display: none;
  }
  .container {
    width: 95%;
  }
}
@media (max-width: 960px) {
 .main-header .user {
   display: none;
 }
 .navigation-panel {
   display: none;
 }
}
@media (max-width: 840px) {
  .menu-sidebar {
    position: fixed;
    left: 0;
    top: 25;
    width: 100%;
    max-width: 250px;
    background-color: #f1f1f1;
    
    height:100%;
    padding-left: 2%;
    transform: translateX(-100%);
    transition: transform 0.2s;
  }
  .menu-sidebar.active {
    transform: translateX(0%);
  }
  .m-menu {
    display: flex;
  }
}
@media (max-width: 760px) {
  .search {
    display: none;
  }
}